@use '/src/sass/base/variables.scss'as *;

.touch,
.footer {
    .just-validate-error-field {
        border: none;
        outline: 1px solid $ui-error;
    }

    .just-validate-error-label {
        margin-top: 10px;
    }

}